h1{
	text-align: center;
}

#header-image{
	width:60%;
}

#park-list-item{
	display: block;
}

#park-list-item img{
	width: 400px;
}

#park-list-description{
	display: inline-block;
	width: 65%;
	vertical-align: top;
	padding-left: 10px;
}
#park-detail-text{
	display: inline-block;
	width: 61%;
	vertical-align: top;
	padding-left: 15px;
}
#park-detail-image{
	display:inline-block;
}

#park-detail-image img{
	width:499px;
}

#inspirational-quote{
	font-family: cursive;
	font-size: x-large;
}

#fast-facts-header{
	text-align: center;
}

.fast-facts{
	display: inline-block;
	padding-left: 150px;
}