#home-background { 
	background-image:url(rmnp.jpg);
	background-size:cover;
}

#home-section {
	width:95%;
	background-color:white;
	border-radius:10px;
	margin:auto;
	opacity:0.85;
}

h1{
	text-align: center;
	font-size:40px;
	}

#survey-link {
	margin-bottom:20px;
	margin-left:20px;
	border: 1px solid black;
	background-color:#d9d9d9;
	display:inline-block;
	border-radius:5px;
	height:30px;
	padding:5px 5px 5px 5px;
	
}

#survey-link a {
	text-decoration:none;
	text-align: center;
	vertical-align: middle;
	
}	


#header-image{
	width:60%;
}

#park-list-item{
	display: block;
	border-bottom: 1px solid gray;
	padding: 10px;
	width:95%;
	margin:auto;
}

#park-list-item img{
	width: 400px;
}

#park-list-description{
	display: inline-block;
	width: 65%;
	vertical-align: top;
	padding-left: 10px;
}
#park-detail-text{
	display: inline-block;
	width: 61%;
	vertical-align: top;
	padding-left: 15px;
}
#park-detail-image{
	display:inline-block;
}

#park-detail-image img{
	width:499px;
}

#inspirational-quote{
	font-family: cursive;
	font-size: x-large;
}

#fast-facts-header{
	text-align: center;
}

.fast-facts{
	display: inline-block;
	padding-left: 150px;
}

#weather-button{
	width: 400px;
	height: 250px;
}